* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Bold.ttf);
  src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Fraunces;
  src: url(fonts/Fraunces-Bold.ttf);
}

.card {
  width: 375px;
  height: 70%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.image-sec {
  height: 40%;
}

.image {
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-sec {
  padding: 30px;
}

.sub-title {
  font-family: Montserrat;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
}

.title {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 32px;
  color: hsl(212, 21%, 14%);
}

.description {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  color: hsl(228, 12%, 48%);
}

.amount {
  display: flex;
  align-items: center;
}

.price {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 32px;
  color: hsl(158, 36%, 37%);
  display: inline-block;
}

.old-price {
  font-family: Montserrat;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  display: inline-block;
  padding-left: 20px;
}
